 --------
Mastek - P&C - Process Request Engine (PRE)
 --------
 --------
27 July 2011
 --------

PRE

* Introduction

  This is the parent project of Process Request Engine. Please refer to the sub modules for further documentation.
  
